.layout-wraper{
	.activity-left{
		.activity-left-top{
			img{
				width: 100%;
				 height:100%;
			}
		}
	
			.am-grid .am-flexbox .am-flexbox-item.am-grid-item{
				height: 120px;
			}
			.noticebar-header{
				display: flex;
				padding: 10px;
			}
		
		
		
	}
	.activity-right{
		  .row {
		  	  position: relative;
			  padding: 0 15px;
			  background-color: white;
			  height: 150px;
			  display: flex;
			
			  // width: 100%;
			  .row-left{
			  	position: relative;
				flex-grow:2.8;
				background: #ccc;
				.row-left-img{
					width: 100%;
					height: 100%;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.row-left-shop-title{
					position: absolute;
					top:50%;
					left:10px;
					transform:translateY(-50%);
					display: inline-flex;
					flex-direction: column;
    				
				}
				.row-left-identif{
					position: absolute;
					left:0px;
					bottom: 0px;
					
					background: blue;
					
    				.row-left-identif-inner{
    				width: 50px;
					height: 50px;
    				display: inline-flex;
					flex-direction: column;
    				align-items: center;
    				justify-content: center;
    				i{
    					 font-style:normal;
    				}

    				}

				}
				
			  }
			  .row-right{
			  	position: relative;
			  	flex:1 0 100px;
			  	.tip{
			  		position: absolute;
			  		top:0px;
			  		right:0px;
			  		width: 64px;
			  		height: 64px;
			  		img{
			  			width: 64px;
			  			height: 64px;
			  		}
			  	}
			  	.right-middle{
			  		position: absolute;
			  		top:50%;
			  		left:50%;
			  		transform: translateX(-50%) translateY(-50%);
			  	

			  	}
			  	
			  }

			}
			.row-title {
			  height: 50px;
			  line-height: 50px;
			  color: #888;
			  font-size: 18px;
			  border-bottom: 1px solid #F6F6F6;
			}
			.row-text {
			  display: inline-block;
			  font-size: 16px;
			  line-height: 1;
			}
			}
}